body, html { margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; background: #87CEEB; touch-action: none; user-select: none; font-family: 'Courier New', Courier, monospace; }

/* Status Bar (Darah & Lapar) */
#status-bars { position: absolute; top: 10px; left: 50%; transform: translateX(-50%); display: flex; gap: 20px; z-index: 30; pointer-events: none; text-shadow: 2px 2px #000; font-size: 18px; }

#controls { position: absolute; width: 100%; height: 100%; pointer-events: none; z-index: 20; }
#move-controls { position: absolute; bottom: 40px; left: 30px; display: flex; gap: 15px; pointer-events: all; }
#action-controls { position: absolute; bottom: 40px; right: 30px; display: flex; flex-direction: column; align-items: center; gap: 10px; pointer-events: all; }

.ctrl-btn { width: 70px; height: 70px; background: rgba(0,0,0,0.5); color: white; border: 3px solid #fff; border-radius: 10px; font-size: 25px; }
#btn-mode { width: 100px; height: 40px; background: #d32f2f; color: white; border: 2px solid white; font-weight: bold; border-radius: 5px; }

#ui { position: absolute; bottom: 15px; width: 100%; display: flex; justify-content: center; pointer-events: none; }
#hotbar { display: flex; gap: 4px; background: rgba(0,0,0,0.8); padding: 5px; border: 3px solid #555; pointer-events: all; }
.slot { width: 42px; height: 42px; border: 2px solid #444; background-size: cover; image-rendering: pixelated; }
.slot.active { border-color: #fff; box-shadow: inset 0 0 10px #fff; }

#rotate-message { display: none; position: fixed; top: 0; width: 100%; height: 100%; background: #222; color: #fff; z-index: 100; align-items: center; justify-content: center; }
@media screen and (orientation: portrait) { #rotate-message { display: flex; } }
canvas { display: block; image-rendering: pixelated; }
