@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html {
    margin: 0; padding: 0; width: 100%; height: 100%;
    overflow: hidden; background: #000;
    touch-action: none; user-select: none; -webkit-user-select: none;
    font-family: 'Press Start 2P', monospace; /* Font Pixel */
}

/* KUNCI TAMPILAN RETRO */
canvas {
    display: block; width: 100%; height: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated; /* Wajib agar kotak-kotak */
}

#rotate-warning {
    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: #222; color: #fff; z-index: 999;
    align-items: center; justify-content: center; text-align: center;
    font-size: 12px;
}
@media screen and (orientation: portrait) { #rotate-warning { display: flex; } }

/* HUD */
#hud {
    position: absolute; top: 10px; left: 10px;
    display: flex; flex-direction: column; gap: 5px; pointer-events: none;
}
.stat-row { display: flex; align-items: center; gap: 5px; }
.bar-container {
    width: 100px; height: 10px; background: #333; border: 2px solid #fff;
}
#hp-bar { height: 100%; background: #ff0000; }
#food-bar { height: 100%; background: #ff9900; }

/* CONTROLS */
#controls { position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; }
#dpad { position: absolute; bottom: 20px; left: 20px; display: flex; gap: 15px; pointer-events: all; }
#actions { position: absolute; bottom: 20px; right: 20px; display: flex; gap: 15px; align-items: flex-end; pointer-events: all; }

.btn {
    width: 60px; height: 60px;
    background: rgba(0,0,0,0.5); border: 4px solid #fff;
    color: white; font-size: 20px; font-family: inherit;
    active: scale(0.9);
    display: flex; align-items: center; justify-content: center;
}
.mode-mine { background: #d32f2f; width: 80px; font-size: 12px; height: 40px; margin-bottom: 10px; }
.mode-build { background: #388e3c; }

/* HOTBAR */
#hotbar-wrapper {
    position: absolute; bottom: 10px; left: 0; width: 100%;
    display: flex; justify-content: center; pointer-events: none;
}
#hotbar {
    display: flex; gap: 2px; padding: 4px; background: rgba(0,0,0,0.7);
    border: 3px solid #555; pointer-events: all;
}
.slot {
    width: 32px; height: 32px; border: 2px solid #333;
    background-size: cover; image-rendering: pixelated;
}
.slot.active { border-color: #fff; background-color: rgba(255,255,255,0.2); }
