body, html {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    overflow: hidden; background: #87CEEB; /* Warna Langit */
    touch-action: none; font-family: sans-serif;
    user-select: none; -webkit-user-select: none;
}

/* UI Overlay */
#controls {
    position: absolute; width: 100%; height: 100%;
    pointer-events: none; z-index: 20;
}

/* Posisi Tombol Kiri/Kanan */
#move-controls {
    position: absolute; bottom: 30px; left: 30px;
    display: flex; gap: 20px; pointer-events: all;
}

/* Posisi Tombol Lompat & Mode */
#action-controls {
    position: absolute; bottom: 30px; right: 30px;
    display: flex; flex-direction: column; align-items: center; gap: 20px;
    pointer-events: all;
}

/* Desain Tombol Panah */
.ctrl-btn {
    width: 70px; height: 70px;
    background: rgba(0, 0, 0, 0.3); /* Transparan Hitam */
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    font-size: 30px; display: flex; align-items: center; justify-content: center;
    cursor: pointer;
}

.ctrl-btn:active {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(0.95);
}

/* Desain Tombol Mode (Merah/Hijau) */
#btn-mode {
    width: 100px; height: 40px;
    background: #d32f2f; color: white; border: none;
    border-radius: 8px; font-weight: bold; font-size: 11px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

/* Hotbar di Tengah Bawah */
#ui { position: absolute; bottom: 10px; width: 100%; display: flex; justify-content: center; pointer-events: none; z-index: 15; }
#hotbar { display: flex; gap: 5px; background: rgba(0,0,0,0.6); padding: 5px; border-radius: 8px; pointer-events: all; }
.slot { width: 40px; height: 40px; border: 2px solid #555; background-size: cover; image-rendering: pixelated; transition: transform 0.1s; }
.slot.active { border-color: white; transform: scale(1.1); box-shadow: 0 0 10px white; }

/* Pesan Putar Layar */
#rotate-message { display: none; position: fixed; top: 0; width: 100%; height: 100%; background: #222; color: #fff; z-index: 100; align-items: center; justify-content: center; font-size: 20px; }
@media screen and (orientation: portrait) { #rotate-message { display: flex; } }

canvas { display: block; image-rendering: pixelated; }
