body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #87CEEB; /* Warna langit Minecraft */
    touch-action: none; /* Mencegah zoom/scroll di mobile */
}

#ui {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 10;
}

#hotbar {
    display: flex;
    gap: 5px;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 5px;
    pointer-events: all;
}

.slot {
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    background-color: #555;
    background-size: cover; /* Agar gambar tekstur pas di kotak */
    image-rendering: pixelated;
    cursor: pointer;
    opacity: 0.7;
}

.slot.active {
    border-color: white;
    opacity: 1;
    transform: scale(1.1);
}

canvas {
    display: block;
    image-rendering: pixelated; /* KUNCI AGAR TEKSTUR TAJAM (RETRO LOOK) */
}

/* --- Mobile Landscape Enforcement --- */
#rotate-message {
    display: none; /* Sembunyikan secara default */
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: #333; color: white;
    z-index: 999;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: sans-serif;
}

/* Jika layar lebih tinggi daripada lebarnya (Portrait), munculkan pesan */
@media screen and (orientation: portrait) {
    #rotate-message { display: flex; }
    #ui, canvas { display: none; }
}

