body, html { margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; background: #5d92fb; touch-action: none; user-select: none; font-family: monospace; }
#ui-overlay { position: absolute; top: 10px; width: 100%; display: flex; justify-content: center; pointer-events: none; z-index: 10; }
.stats { background: rgba(0,0,0,0.3); padding: 5px 15px; border-radius: 20px; color: white; font-size: 18px; }
#controls { position: absolute; width: 100%; height: 100%; pointer-events: none; z-index: 5; }
#move-group { position: absolute; bottom: 40px; left: 30px; display: flex; gap: 15px; pointer-events: all; }
#action-group { position: absolute; bottom: 40px; right: 30px; display: flex; flex-direction: column; align-items: center; gap: 10px; pointer-events: all; }
.joy { width: 75px; height: 75px; background: rgba(0,0,0,0.5); border: 3px solid #fff; border-radius: 15px; color: white; font-size: 30px; }
#btn-mode { width: 100px; height: 40px; background: #bf360c; color: white; border: 2px solid white; font-weight: bold; border-radius: 5px; }
#hotbar-container { position: absolute; bottom: 15px; width: 100%; display: flex; justify-content: center; pointer-events: none; }
#hotbar { display: flex; gap: 4px; background: rgba(0,0,0,0.8); padding: 6px; border: 3px solid #555; pointer-events: all; }
.slot { width: 45px; height: 45px; border: 2px solid #444; background-size: contain; background-repeat: no-repeat; image-rendering: pixelated; }
.slot.active { border-color: #fff; transform: scale(1.1); }
#rotate-message { display: none; position: fixed; top: 0; width: 100%; height: 100%; background: #111; color: #fff; z-index: 100; align-items: center; justify-content: center; }
@media screen and (orientation: portrait) { #rotate-message { display: flex; } }
canvas { display: block; image-rendering: pixelated; } /* KUNCI FULL PIXEL */
