* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box; 
}

body {
  background:#000;
  overflow:hidden;
}

canvas {
  display:block;
  width:100vw;
  height:100vh;
  touch-action:none;
}

/* CONTROLS */
.controls-left {
  position:fixed;
  bottom:20px;
  left:20px;
  display:flex;
  gap:20px;
}

.controls-right {
  position:fixed;
  bottom:20px;
  right:20px;
}

button {
  width:70px;
  height:70px;
  border:none;
  border-radius:15px;
  background:#333;
  color:white;
  font-size:24px;
}

/* INVENTORY */
#inventory {
  position:fixed;
  bottom:110px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:10px;
}

.slot {
  width:55px;
  height:55px;
  background:#222;
  border:2px solid #555;
  color:white;
  font-size:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

/* STATUS */
#status {
  position:fixed;
  top:15px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  flex-direction:column;
  gap:5px;
  align-items:center;
}

#hearts, #hunger {
  display:flex;
  gap:4px;
}

.heart, .food {
  width:20px;
  height:20px;
}
